<%- include("partials/head.ejs") %>
<%- include("partials/header.ejs") %>
<h2>Groceries List</h2>
    <table id="groceries-table">
      <tr id="groceries-table-header">
        <th>Name</th>
        <th>Status</th>
        <th colspan="2"></th>
      </tr>
      <% if (groceries && groceries.length) { %>
        <% groceries.forEach((product) => { %>
        <tr>
            <td colspan="2">
            <td><%= product.name %></td>
            <td><%= product.status %></td>
            <a href="/groceries/update/<%= product.id %>"><button type="button">edit</button></a>
            <form method="POST" action="/groceries/delete/<%= product.id %>" style="display: inline">
                <button>delete</button>
                <input type="hidden" name="_csrf" value="<%= _csrf %>" />
            </form>
        </td>
        </tr>
        <% }) %>
      <% } %>
        <a href="/groceries/new">
        <button type="button">create new product</button>
        </a>
    </table>
<%- include("partials/footer.ejs") %>